<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Student List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Student List</h1>
<a href="/">Accueil</a>
<a href="addStudent">Add Students</a>
<a href="listStudentGroups">Student Groups List</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        <tr th:each ="student : ${students}">
            <td th:utext="${student.firstName}">...</td>
            <td th:utext="${student.lastName}">...</td>
            <td><a th:href="@{/showStudentUpdateForm/{id}(id=${student.id})}">Update</a>
                <a th:href="@{/deleteStudent/{id}(id=${student.id})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>