<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Student Group List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Student Group List</h1>
<a href="/">Accueil</a>
<a href="listStudents">Student List</a>
<a href="addStudentGroup">Add Student Groups</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Nom</th>
        </tr>
        <tr th:each ="studentgroup : ${studentgroups}">
            <td th:utext="${studentgroup.nom}">...</td>
            <td><a th:href="@{/showStudentGroupUpdateForm/{id}(id=${studentgroup.id})}">Update</a>
                <a th:href="@{/deleteStudentGroup/{id}(id=${studentgroup.id})}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>